#divDatiAutenticazione:hover #divDatiAutenticazione, #cambiopwd { 
	display: block;
}


.infoHover img {
	height: 1.2em;
}

#divDatiAutenticazione .BoxInfoCard {
	border-left-width: 0px;
}

#divDatiAutenticazione .BoxInfoCard:nth-child(2) {
	border-top-width: 0px;	
}

#divDatiAutenticazione .ElementInfoCard2 {
	border-right: none;
}

#divDatiAutenticazione a.external_icon:after {
    content: url("/portaleservizi/portale/container/icons/misc/link-ext.png");
    padding-left: 0.0em;
}

.senza_pallini
{
	margin-top:2px;
	margin-bottom:1px;
	padding-left: 2px;
}

.dim_icone_comandi
{
	width: 18px;
	position: relative;
}

.dim_helpicon
{
	max-width: 350px!important;	
}

.ggScadenza_wrn{
	background: #fffbd7;
	border: 1px solid #ff7f00;
	margin: 1em auto;
	text-align: left;
	padding: 0.5em;
}

.ggScadenza_err{
	background: #fef1ec;
	border: 1px solid #cd0a0a;
	margin: 1em auto;
	text-align: left;
	padding: 0.5em;
}